<!DOCTYPE html>
<html lang="en"  xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<a href="/addlink">add link</a><br />
<table>
    <tr>
        <th>link</th>
        <th>submitted by</th>
        <th>date submitted</th>

    </tr>
    <thead>
    <div th:if="${search}!=null" th:inline="text">You searched for [[${search}]]</div>
    </thead>
    <tbody>
    <tr th:each="eachreddit : ${reddit}">
        <td th:href="${eachreddit.url}"></td> -
        <td th:text="${eachreddit.submittedby}"></td>
        <td th:text="${eachreddit.datesubmitted}"></td>

        <td>
            <a th:href="@{/update/{id}(id=${reddit.id})}">Update</a> -
            <a th:href="@{/detail/{id}(id=${reddit.id})}">Details</a> -
            <a th:href="@{/delete/{id}(id=${reddit.id})}">Delete</a> -
        </td>
    </tr>

    </tbody>

</table>
</body>
</html>